<ul class="friends_list">
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
      <% if Friendship.can_friend?(current_user.id, user.id) %>
        <button class="friend" data-id="<%= user.id %>">
          Friend them down!
        </button>
      <% elsif Friendship.can_unfriend?(current_user.id, user.id) %>
        <button class="unfriend" data-id="<%= user.id %>">
          Terminate friendship :-(
        </button>
      <% end %>
    </li>
  <% end %>
</ul>

<script>
  $("ul.friends_list").on("click", "button.friend", function (event) {
    var $currentTarget = $(event.currentTarget);
    $currentTarget.attr("disabled", true);
    $currentTarget.text("Friending...");

    $.ajax({
      url: "/users/" + $currentTarget.attr("data-id") + "/friendship",
      type: "POST",
      success: function () {
        $currentTarget.remove();
      }
    });
  });

  $("ul.friends_list").on("click", "button.unfriend", function (event) {
    var $currentTarget = $(event.currentTarget);
    $currentTarget.attr("disabled", true);
    $currentTarget.text("Unfriending...");

    $.ajax({
      url: "/users/" + $currentTarget.attr("data-id") + "/friendship",
      type: "DELETE",
      success: function () {
        $currentTarget.remove();
      }
    });
  });
</script>
