<form action="<%= secrets_url %>" method="post">
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <input
     type="hidden"
     name="secret[recipient_id]"
     value="<%= @secret.recipient_id %>">

  <label for="secret_title">Title</label>
  <input
     type="text"
     id="secret_title"
     name="secret[title]"
     value="<%= @secret.title %>">

  <input type="submit" name="Create Secret">
</form>
