// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.can-friend form.unfriend, form.friend {
  display: none;
}

.can-friend form.friend, form.unfriend {
  display: block;
}

.disabled-message, .is-disabled input[type="submit"] {
  display: none;
}

.is-disabled .disabled-message  {
  display: inline;
}

//.disabled-message {
//  -webkit-appearance: push-button;
//  color: graytext;
//}
